* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: linear-gradient(#1a0b2e);
  color: #fff;
}

/* NAVBAR */
.navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 50px;
  font-weight: bolder;
}

.logo span {
  color: rgb(245, 93, 38)
}

nav a {
  margin: 0 16px;
  color: #ccc;
  text-decoration: none;
}

.btn:hover {
  background: rgb(36, 100, 196);

}

.subscribe-btn {
  background: linear-gradient(45deg, #f7e93f, #fb0909, #5f00f8);
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
}

/* HERO */
.hero-container {
  text-align: center;

}

.hero {
  margin: 0 auto;
  height: 760px;
  background: url("../assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

.hero-adjust {
  margin-top: -170px;
}

.hero-microphone {
  transform: scale(0.9);
  margin: 0 auto;
  margin-bottom: 120px;
}

.hero-circle {
  transform: scale(0.8);
  height: 150px;
  margin: 0 auto;
  position: static;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 100px;
}

.badge {

  background: #00ff9c;
  color: #000;
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
}

.hero-size {
  margin: 0 auto;
  height: 78%;
  max-width: 1366px;
}


.hero h1 {
  font-size: 48px;
  margin-top: 20px;
}

.hero p {
  max-width: 500px;
  margin: 15px auto;
  color: #ccc;
}

.hero-buttons button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 20px;

}

.spotify {
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
}

.outline {
  background: transparent;
  border: 1px solid #0ed176;
  color: #00FF88;
}

/* ABOUT */
.about {
  text-align: center;
  align-items: center;
  padding: 50px 200px 120px 200px;
}

.about h1 {
  margin: 0 auto;
  margin-bottom: 16px;
}

.difference {
  margin-top: 20px;
}

.about p {
  text-align: center;
  font-size: 15px;
  font-weight: 200;
  line-height: 20px;
  height: 148px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  margin-top: 80px;
}

.text-strong {
  font-size: 48px;
  font-weight: 900;
  line-height: 40px;

}

.text-light {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: white
}

.stats .text-strong {
  font-size: 28px;
  color: #00ff9c;
}

/* FEATURES */
.features {
  padding: 120px 200px;
  text-align: center;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;

}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
  background: #24003f;
  padding: 40px;
  border-radius: 40px;
  margin: 0 auto;
}

.card-1 p {
  font-weight: 200;
  margin-top: 16px;
  margin-bottom: 16px;
}

.card-2 p {
  font-weight: 200;
  margin-top: 16px;
  margin-bottom: 16px;
}

.card-3 p {
  font-weight: 200;
  margin-top: 16px;
  margin-bottom: 16px;
}

.card-4 p {
  font-weight: 200;
  margin-top: 16px;
  margin-bottom: 16px;
}

.card-5 p {
  font-weight: 200;
  margin-top: 16px;
  margin-bottom: 16px;
}

.card-1 {
  grid-row: span 2;
  grid-column: span 1;
  height: 480px;
}

.card-2 {
  grid-row: span 1;
  grid-column: span 2;
  height: 225px;

}

.card-3 {
  grid-row: span 1;
  grid-column: span 2;
  height: 225px;


}

.card-4 {
  grid-row: span 1;
  grid-column: span 2;
  height: 273px;
}

.card-5 {
  grid-row: span 1;
  grid-column: span 1;
  height: 273px;
}

/* .episode */

.episodes {
  padding: 120px 200px;
  text-align: center;
  align-items: center;

}

.episodes-design {
  height: 1066px;
}

.episode {
  background: #24003f;
  border-radius: 16px;
}

.episode h3 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.episode p {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  font-weight: 180;
}

.episode span {
  margin-right: 200px;
}

.episode-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 120px;
}

.episode img {
  width: 100%;
  border-radius: 12px;
}

/* HOST */
.host {
  padding: 40px
}

.host h1 {
  margin-bottom: 40px;
}

.host-card {
  background: #24003f;
  border-radius: 20px;
  display: flex;
  gap: 24px;
  width: 100%;
  ;
  height: 280px;
}


.host-card img {
  height: 200px;
  width: 200px;
  margin-top: 40px;
  margin-left: 40px;
  border-radius: 50%;
}

/* FOOTER */
#design-footer {
  text-align: center;
  color: #aaa;
  margin-top: 40px;
  }

  .footer-image img{
      max-width: 100%;
      
}
.footer-image{
  position: relative;
}
.footer-logo h1{
   position: absolute;
transform: translate(85% , -400%);
  margin-left: 300px;
  font-size: 56px;
  font-weight: 800;
}
.footer-image p{
    position: absolute;
transform: translate(110%, -300%);
  margin-left: 130px;
  font-weight: 200;
  
}
  


@media (max-width: 576px) {

  nav a {
    display: none;

  }

  .logo {

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    align-items: center;
    gap: 200px;

  }

  .subscribe-btn {
    display: none;
  }

  .hero {
    padding: 40px 20px;
    height: 400px;
  }

  .hero-circle {
    transform: scale(0.3);
    margin: 0 auto;
    position: static;

    justify-content: center;
    align-items: center;
  }

  .hero-microphone {
    transform: scale(0.3);
    margin-bottom: 20px;
  }

  .about {
    text-align: center;
    align-items: center;
    padding: 40px 20px 40px 20px;
  }

  .stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    font-weight: 900;
    margin-top: 130px;
  }

  .about h1 {
    /* margin: 0 auto; */
    margin-bottom: 16px;
  }

  .about p {
    text-align: center;
    font-size: 12px;
    font-weight: 150;
    line-height: 20px;
    height: 80px;
  }

  .features {
    padding: 40px 20px;
    text-align: center;
    align-items: center;
  }

  .feature-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    margin-top: 16px;
    text-align: center;

  }

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5 {
    grid-column: span 1;
    grid-row: span 2;
    width: 400px;
    height: 225px;
    align-items: center;
  }

  .card-4 svg {
    margin-bottom: -30px;
  }

  .episodes {
    padding: 80px;
    text-align: center;
    align-items: center;
  }

  .episodes-design {
    height: 2100px
  }

  .episode {
    background: #24003f;
  }

  .episodes-design {
    padding: 40px 20px;
  }

  .episode-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    margin-top: 15px;
    align-items: center;

  }

  .host {
    padding: 24px 10px 24px 0px ;
    align-items: center;

  }

  .host-card {
    display: grid;
   grid-template-columns: repeat(1, 1fr);
    width: 350px;
    height: 600px;
    align-items: center;
  }
.host-card p{
  font-weight: 200;
  margin-bottom: 80px;
 }

 .footer {
  min-height: 248px;
  height: auto;
}
   .footer-image img{
    height: 248px;
   }
.footer-image{
   position: relative;
}

.footer-logo h1{
    position: absolute;
     font-size: 40px;
    transform: translate(-80%, -400% );
     font-weight: 400;
}


.footer-image p{
    position: absolute;
transform: translate(-10%, -200%);
  
  font-weight: 100;
  
}


}


@media (min-width: 766px) and (max-width: 1366px) {
  .logo img {
    display: none;
  }
  
  .navbar {
    padding: 16px 200px;
  }

  .host-card h1 {
    margin-top: 48px;
    margin-right: 420px;
    margin-bottom: 16px;
  }

  .host-card p {
    font-weight: 180;
    margin-right: 60px;
  }

  .episodes {
    padding: 120px 200px;
  }


}